**/.DS_Store
**/.idea
**/.ipynb_checkpoints
dataset-into-wikidata/2017-household-waste-summary-tables-final.xlsx
dataset-into-wikidata/2018-household-waste-data-tables.xlsx
dataset-into-wikidata/CO2e-diff.txt
dataset-into-wikidata/CO2e-quickstatements.csv
dataset-into-wikidata/population-per-scottish-council-area-per-year-iframe.html
dataset-into-wikidata/population-values-diff.txt
dataset-into-wikidata/population-values-quickstatements.csv
dcs-shorts.iml
pivot-drill-plot/build/
pivot-drill-plot/node_modules/
pivot-drill-plot/package-lock.json

