.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAreaMargins {
	margin: 10px;
}

.title {
  text-align: center;
  line-height: 60%;
}

.banner-title {
    display: flex;
    align-items: center;
    margin: 3px;
    color: #fff;
    background-color: #788585;
}
.banner-title h2 {
    text-align: center;
    align-items: center;
}
.banner-title h1 {
    font-size: 26px;
    font-family: 'Alegreya';
}
.banner-title img {
    max-height: 64px;
    width: auto;
    padding: 3px;
}